#container{
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100px;
    width: 100px;
    border: 1px solid green;
}

.box{
    margin: 0;
    padding: 0;
}

.hovered{
    background-color: red;    
}

.button-controller {
    margin: 20px;
}